QUESTION 1:

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints:
Consider use range(#begin, #end) method

In [7]:
begin=2000
end=3200
for i in range(begin,end):
  if i%7==0 and i%5!=0:
    print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

Question 2:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [41]:
#method 1:
my_input=int(input())
my_input1=my_input
while my_input1 !=0:
  my_input += my_input*(my_input-1)
  my_input -=my_input
  my_input1 -= my_input1

8

In [30]:
# method 2:
my_input=int(input())
a=1
for i in range(1,my_input):
  a+=a*i
print(a)

8
40320

Question 3:

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [58]:
# first try
my_input=int(input())
my_list=[]
for i in range(1,my_input+1):
  my_list.append(i)
  my_list.append(i*i)
print(my_list)

8
[1, 1, 2, 4, 3, 9, 4, 16, 5, 25, 6, 36, 7, 49, 8, 64]

In [59]:
# second try:
my_input=int(input())
my_dict={}
for i in range(1,my_input+1):
  my_dict[i]=i*i
print(my_dict)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

QUESTION 4:

Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
tuple() method can convert list to tuple

In [75]:
my_input=list(input().split())
print(my_input)
print(tuple(my_input))

34 67 55 33 12 98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

QUESTION 5:

Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

Hints:
Use __init__ method to construct some parameters

In [86]:
class my_class():
  def __init__(self):
    pass
  def getstring():
    getstring=input().upper()
  def printstring():
    print(getstring)
my_class()

QUESTION 6:

Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

Hints:
If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26)
In case of input data being supplied to the question, it should be assumed to be a console input.

In [101]:
import math
c=int(50)
h=int(30)
value_of_D=list(input().split())
my_list_D=[]
for i in range(len(value_of_D)):
  my_list_D.append(int(value_of_D[i]))
for i in range(len(my_list_D)):
  q=math.sqrt((2*c*my_list_D[i])/h)
  print(round(q))

100 150 180
18
22
24

Question 7:

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

Hints:
Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

QUESTION 8:

Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [116]:
my_input=input().split()
my_input.sort()
my_input

without hello bag world

['bag', 'hello', 'without', 'world']

QUESTION 9:

Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [125]:
my_value=input()
a=my_value.upper()
a

hello world practice makes perfect

'HELLO WORLD PRACTICE MAKES PERFECT'

QUESTION 10:

Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [133]:
my_input=input().split()
my_set=set(my_input)
my_list=list(my_set)
my_list.sort()
my_list

hello world and practice makes perfect hello world again

['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

QUESTION 11:

Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010
Notes: Assume the data is input by console.

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [148]:
our_numbers=input().split()
B=[num for num in our_numbers if int(num,2)%5==0]
print(B)

0100 0011 1010 1001
['1010']